body {
    background-color: rgb(31, 40, 43);
    color: rgb(253, 247, 240);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

.userx{
    display: inline;
}

a {
    color: rgb(194, 247, 198);
}

h3 {
    margin-top: 50px;
}

.logout{
    display: inline-block;
    margin-top: 30px;
}

.header{
    margin-bottom: 50px;
}

.text-box{
    margin-bottom: 50px;
}

textarea{
    height: 100px;
    padding: 20px;
    width: fit-content;
    min-width: 300px;
}