<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/script.js"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
  </head>
  
  <body>
    <h1>Home</h1>
    <p>Home page</p>
  </body>
</html>