<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/app/static/scripts/script.js"></script>
    <link rel="stylesheet" href="/app/static/styles/style.css">
  </head>
  
  <body>
    <div class="all"> 
      <div class="header"> 
        <h3>Welcome</h3>
      </div>
    
      <div class="signup-panel">
        <form method="POST" action="/user"> 
          <input class="name" type="text" name="first_name" placeholder="First Name" required>
          <input class="last-name" type="text" name="last_name" placeholder="Last Name" required>
          <input class="email" type="email" name="email" placeholder="Email" required>
          <input class="username" type="text" name="username" id="username" placeholder="Username" required>
          <input class="password" type="password" name="password" id="password" placeholder="Password" required>
          <input class="password" type="password" name="password_confirm" id="password_confirm" placeholder="Confirm your password" required>
          <div class="dateofbirth">Date Of Birth</div>
          <input class="birthdate" type="date" name="date_of_birth" required></input>
        
          <div class="login-button">
            <button class="button" type="submit">Signup</button>
          </div>
        </form>
      </div>

      <p>
        Already have an account yet? <a href="/login">Login here</a>
      </p>
    </div>
  </body>
</html>
